body{
    margin:0;
    font-family: "Times New Roman", serif;
    background: linear-gradient(135deg,#e3f2fd,#fce4ec);
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

.card{
    background:white;
    padding:40px;
    border-radius:16px;
    box-shadow:0px 8px 25px rgba(0,0,0,0.1);
    width:350px;
    text-align:center;
}

h2{
    margin-bottom:20px;
}

input,select{
    width:100%;
    padding:10px;
    margin:8px 0;
    border-radius:8px;
    border:1px solid #ddd;
}

button{
    background:#6c63ff;
    color:white;
    border:none;
    padding:12px;
    width:100%;
    border-radius:8px;
    cursor:pointer;
    font-size:16px;
    transition:0.3s;
}

button:hover{
    background:#5146d8;
}

a{
    text-decoration:none;
    color:white;
}

.linkbtn{
    display:block;
    background:#6c63ff;
    padding:12px;
    border-radius:10px;
    margin-top:15px;
}
